In [2]:
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
housing.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
housing["zipcode"] = housing["zipcode"].astype("category")
housing.dtypes

id                  int64
date               object
price             float64
bedrooms            int64
bathrooms         float64
sqft_living         int64
sqft_lot            int64
floors            float64
waterfront          int64
view                int64
condition           int64
grade               int64
sqft_above          int64
sqft_basement       int64
yr_built            int64
yr_renovated        int64
zipcode          category
lat               float64
long              float64
sqft_living15       int64
sqft_lot15          int64
dtype: object

In [ ]:
import datetime
def dateConversion(date):
  month = pd.to_datetime(date).month
  season = month + 1
  if(season == 13):
    season = 1
  season = season % 4
  #return month
  return season
housing["month"] = housing["date"].apply(dateConversion)
housing["month"] = housing["month"].astype("category")

In [ ]:

housingX = housing.drop(columns = ["price"])
X = pd.get_dummies(housingX, drop_first = True)

Y = housing["price"]
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = .2, random_state = 69)

In [ ]:
model = XGBRegressor(max_depth= 6)
model.fit(X_Train, Y_Train)

[19:27:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
predict = model.predict(X_Test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
result = mean_squared_error(Y_Test, predict, squared=False)
result2 = r2_score(Y_Test, predict)
print(result, result2)

144050.99454619468 0.8755979330662067

In [3]:
import altair as alt
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [ ]:
alt.Chart(housing).mark_circle().encode(
    y=alt.Y('price', axis=alt.Axis(title='Price of Home')),
    x=alt.X('bedrooms', axis=alt.Axis(title='Number of Bedrooms'))
).properties(
    title = "The Effect of Bedrooms on Price"
)

In [ ]:
alt.Chart(housing).mark_circle().encode(
    y = "price",
    x = "bathrooms"
)

In [ ]:
alt.Chart(housing).mark_circle().encode(
    x = "price",
    y = "sqft_living"
)

In [ ]:
alt.Chart(housing).mark_circle().encode(
    x = "price",
    y = "sqft_lot"
)

In [ ]:
alt.Chart(housing).mark_circle().encode(
    x = "price",
    y = "floors"
)

In [ ]:
import antigravity